<!--User#show-->
 <div class ="container px-5 px-sm-0">
    <div class = "row">
        <%= render 'books/side', user: @user, books: @books, booknew: @booknew %>
        <%= render 'books/main', books: @books %>
    </div>
</div>

